* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.main-body {
  background-image: url(./images/BG.png);
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.fadeInLeft {
  transform: translateX(-50px);
  transition: 0.7s all;
  opacity: 0;
}

// Header

.header {
  height: 100px;
  box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
  display: flex;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 255px;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  padding: 0;
}

.header__menu-item {
  font-weight: 500;
  font-size: 16px;
  color: #111928;
  transition: 0.2s all;
}
.header__menu-item:hover {
  color: #7e3af2;
}
.header__menu-item--active {
  font-weight: 700;
  font-size: 16px;
  color: #111928;
}
.header__menu-item--active:hover {
  color: #111928;
}

.logo {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;

  &__text {
    font-weight: 600;
    font-size: 32px;
    color: #111928;
  }

  &__text--white {
    color: #fff;
  }
}

.auth-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.signIn-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #111928;
  transition: 0.2s all;
  &:hover {
    color: #7e3af2;
  }
  &--fw {
    font-size: 24px;
    font-weight: 500;
  }
}

.SignUp-btn {
  height: 37px;
  background: #7e3af2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background: #5c2bb0;
  }
}

// burger menu
.open-burger {
  display: none;
  height: 40px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #6c6c6c86;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.burger {
  display: none;
  opacity: 0;
  position: absolute;
  right: -500px;
  top: 0;
  width: 500px;
  height: 100%;
  z-index: 3;
  background-color: #fff;
  box-shadow: -5px 0 25px #bbbbbb;
  transition: 0.5s all;
  overflow-y: scroll;

  &__close {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }
  &__close-img {
    height: 18px;
  }
  &__nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  &__item {
    font-size: 22px;
    font-weight: 500;
    transition: 0.2s all;
    color: #333333;
    &:hover {
      color: #a53dff;
    }
  }

  &__nav-section {
    padding: 20px 20px 20px;
    border-bottom: 1px solid #eceaea;
    &--mt30 {
      margin-top: 30px;
    }
  }
  &__nav-section-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  &__nav-section-name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
  }
  &__nav-section-img {
    height: 65px;
    &--scaleL {
      transform: scale(1.5);
    }
    &--scaleM {
      transform: scale(1.3);
    }
  }
  &__arrow {
    transform: rotate(90deg);
  }
  &__nav-section-links-wrapper {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 20px;
  }
  &__nav-section-link {
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s all;
    &:hover {
      color: #a53dff;
    }
  }
}
// Content
.content {
  flex: 1 0 auto;
}

// Footer
.footer {
  min-height: 640px;
  flex: 0 0 auto;
  background-color: #2b384c;
  position: relative;
  margin-top: 800px;
  padding: 0 15px;

  &__menu-wrapper {
    max-width: 1200px;
    margin: 180px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 130px;
  }

  &__menu-title {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #f8f8f8;
    white-space: nowrap;
  }

  &__menu-list {
    list-style-type: none;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    color: #a9a9a9;
    margin-top: 16px;
    line-height: 150%;
    transition: 0.2s all;
  }
  &__menu-link:hover {
    color: #cccccc;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  &__copyright {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #6b7280;
    margin-top: 20px;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
  }
}

.feedback {
  width: 1320px;
  min-height: 680px;
  background: #ffffff;
  box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -615px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 88px 60px;
    gap: 103px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contacts-title {
    font-weight: 600;
    font-size: 38px;
    color: #132238;
  }

  &__contacts-subtitle {
    font-size: 18px;
    color: #87909d;
    margin-top: 16px;
  }

  &__contacts-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
  }

  &__contacts-card {
    box-shadow: 4px 4px 8px 5px rgb(185 193 198 / 20%);
    border-radius: 10px;
    width: 375px;
    padding: 24px 28px 24px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      box-shadow: 4px 4px 8px 5px rgba(135, 141, 145, 0.2);
    }
  }

  &__info {
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;

    a {
      color: #a53dff;
    }
  }

  &__contacts-card-img {
    height: 48px;
  }

  &__contacts-card-text-top {
    font-size: 14px;
    color: #424e60;
  }

  &__contacts-card-text-bottom {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #132238;
  }

  &__tg {
    margin-top: 35px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a53dff;
    box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 560px;
  }

  &__form-input {
    height: 40px;
    border: none;
    border-bottom: 1px solid #e6e8eb;
    font-size: 18px;
  }
  &__form-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #697484;
  }
  &__form-input:focus {
    outline: none;
    font-size: 18px;
    color: #a53dff;
    border-bottom: 1px solid #a53dff;
  }
  &__form-input:focus::placeholder {
    color: #a53dff;
  }

  &__form-btn {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a53dff;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    gap: 12px;
    max-width: 180px;
    cursor: pointer;
    transition: 0.2s all;
  }
  &__form-btn:hover {
    max-width: 175px;
  }
}

// Navigation
.navigation {
  max-width: 1364px;
  margin: 118px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  &__item {
    width: 296px;
    height: 392px;
    background: #ffffff;
    box-shadow: 32px 32px 80px rgba(43, 56, 76, 0.1);
    border-radius: 15px;
    position: relative;
    padding: 27px 10px 34px 27px;
    transition: 0.4s all;
    position: relative;
    &:hover {
      box-shadow: 32px 32px 20px rgba(59, 73, 93, 0.196);
      transform: translateY(-10px);
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #464646;
  }

  &__item-descr {
    margin-top: 28px;
    font-size: 18px;
    line-height: 19px;
    color: #464646;
    &--small-mt {
      margin-top: 8px;
    }
  }

  &__item-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 34px;
  }

  &__link {
    margin-top: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #126f85;
    transition: 0.2s all;
    position: relative;
    z-index: 1;
  }
  &__link:hover {
    color: #0c404c;
    font-size: 17px;
  }

  &__item-img {
    position: absolute;
    bottom: 15px;
    right: -16px;
    z-index: 0;
    &--planet {
      bottom: 25px;
      right: 0px;
    }
    &--laptop {
      right: -55px;
      bottom: -19px;
    }
    &--books {
      right: -44px;
      bottom: 25px;
    }
    &--visor {
      bottom: -9px;
      right: -56px;
    }
  }
}

// main-outsourse
.main-outsourse {
  margin-top: 680px;
  min-height: 850px;
  background-color: #f0f1f3;
  position: relative;
  padding: 100px 15px 15px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 800;
    font-size: 36px;
    color: #111928;
  }

  &__descr {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    color: #6b7280;
  }

  &__list {
    list-style-type: none;
    margin-top: 60px;
    border-top: 1px solid #7e3af2;
    padding-top: 16px;
  }

  &__list-item {
    font-size: 18px;
    line-height: 150%;
    color: #111928;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__img {
    position: relative;
    right: 0px;
  }
}

.our-team {
  width: 1320px;
  height: 545px;
  background-color: #fff;
  position: absolute;
  bottom: 750px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 36px 35px rgba(43, 56, 76, 0.1);
  border-radius: 16px;
  padding: 60px;

  &__inner {
    display: flex;
    justify-self: center;
    gap: 65px;
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    color: #132238;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: #87909d;
    margin-top: 32px;
  }

  &__left {
    position: relative;
  }

  &__left-content {
    position: relative;
  }

  &__left-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 12px 20px rgba(28, 25, 25, 0.12);
    border-radius: 4px;
    gap: 20px;
  }

  &__left-icon {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:nth-child(1) {
      background-color: #a53dff;
    }
  }

  &__left-img {
    height: 330px;
    width: 500px;
    border-radius: 1%;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 24%);
  }

  &__left-descr {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    color: #808080;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 44px;
  }
}

.our-team-mobile {
  display: none;
  margin-top: 80px;
  width: 100%;
  padding: 50px 15px;
  background-color: transparent;

  .our-team__title {
    font-size: 36px;
    line-height: 53px;
  }
}

.button {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background-color: #a53dff;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  transition: 0.2s all;
  &:hover {
    background-color: #8a39d1;
  }
}

.button--price {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  color: #a53dff;
  background-color: transparent;
  border: 1px solid #a53dff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  img {
    height: 20px;
  }
  &:hover {
    color: #8d37d9;
    border: 1px solid #7c2ebf;
  }
}

// visors
.title-semib {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}

.title-bold {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}

.subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #87909d;
  font-weight: 400;
}

.visors {
  &__title {
    margin-top: 138px;
    text-align: center;
  }

  &__subtitle {
    margin-top: 24px;
    text-align: center;
  }

  &__inner {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 70px auto 0;
  }

  &__card {
    width: 424px;
    background-color: #fff;
    border: 1px solid #e6e8eb;
    box-shadow: 0px 12px 24px rgba(28, 25, 25, 0.12);
    border-radius: 8px;
    transition: 0.7s all;
    &:hover {
      transform: scale(0.99);
    }
  }

  &__card-content {
    padding: 0 32px 24px;
  }

  &__img {
    width: 100%;
    max-height: 248px;
  }

  &__card-title {
    margin-top: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #132238;
  }

  &__descr {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #556070;
  }

  &__btn {
    margin-top: 20px;
    display: flex;
  }

  &__btn-more {
    margin: 70px auto 0;
    display: flex;
  }
}

// Web

.web {
  margin-top: 200px;
  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: 24px;
    text-align: center;
  }

  &__cards {
    max-width: 1320px;
    height: 420px;
    margin: 50px auto 0;
    overflow-x: hidden;
  }

  &__cards-mobile {
    display: none;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  &__cards-inner {
    display: flex;
    gap: 24px;
    width: 2680px;
    transition: 0.4s all;
  }

  &__item-img {
    width: 100%;
    min-height: 226px;
    border-bottom: 1px solid #a53dff;
    border-radius: 8px 8px 0 0;
  }

  &__item {
    width: 312px;
    min-height: 346px;
    background: #ffffff;
    border: 1px solid #f0f1f3;
    border-radius: 8px;
    box-shadow: 0px 12px 24px rgba(28, 25, 25, 0.12);
    transition: 0.7s all;
    &:hover {
      background: #f0f0f0;
    }
  }

  &__item-content {
    padding: 0 24px 24px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin-top: 24px;
  }

  &__item-descr {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .dot {
    width: 10px;
    height: 10px;
    background-color: #c3c7ce;
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgba(140, 140, 140, 0.471);
    cursor: pointer;
    &--active {
      background: #210c33;
      border-radius: 100px;
      width: 30px;
      height: 8px;
    }
  }
}

// Monitor
.monitor {
  margin-top: 200px;
  padding: 0 10px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
  }

  &__cards {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  &__item {
    width: 256px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.1);
    border-radius: 10px;
    &:nth-child(3) {
      max-height: 250px;
    }
  }

  &__img {
    max-height: 48px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #111928;
    margin-top: 16px;
  }

  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #6b7280;
    margin-top: 8px;
  }

  &__content-subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #7e3af2;
  }

  &__content-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 125%;
    color: #111928;
    margin-top: 12px;
  }

  &__content-descr {
    margin-top: 16px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #6b7280;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
  }

  &__links-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #7e3af2;
  }
}

// web-proposal
.web-proposal {
  margin-top: 100px;
  min-height: 972px;
  background-color: #f0f1f3;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    gap: 143px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    padding: 32px;
    width: 648px;
    min-height: 200px;
    background: #ffffff;
    border-left: 6px solid #ffff;
    box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
    border-radius: 6px;
    transition: 0.3s all;
    &:hover {
      border-left: 6px solid #a53dff;
      box-shadow: 0px 32px 36px rgba(28, 25, 25, 0.16);
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #132238;
  }

  &__item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #556070;
    margin-top: 16px;
  }

  &__subtitle {
    margin-top: 24px;
  }

  &__btn {
    margin-top: 50px;
  }
}

// bx24
.bx24 {
  min-height: 1203px;

  &__title {
    font-weight: 600;
    font-size: 48px;
    color: #132238;
    margin-top: 90px;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    color: #87909d;
    text-align: center;
    margin-top: 9px;
  }

  &__cards {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  &__item {
    width: 425px;
    min-height: 559px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    border-radius: 8px;
    padding: 32px;
    transition: 0.5s all;
    &:hover {
      transform: scale(0.99);
    }
    &:nth-child(1) {
      position: relative;
    }
  }

  &__item-free {
    position: absolute;
    left: -142px;
    top: 130px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    transform: rotate(-90deg);
    background: linear-gradient(169.51deg, #7000ff 2.77%, rgba(112, 0, 255, 0.63) 83.2%);
    box-shadow: 0px 4px 4px rgba(154, 151, 151, 0.25);
    border-radius: 15px 15px 0px 0px;
    height: 47px;
    width: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #111928;
  }

  &__item-descr {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #6b7280;
    margin-top: 16px;
  }

  &__item-price {
    text-align: center;
    margin-top: 32px;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #111928;
    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #6b7280;
      text-align: center;
    }
  }

  &__item-setting {
    display: flex;
    gap: 10px;
    margin-top: 32px;
    font-size: 16px;
    color: #111928;
    span {
      font-weight: 700;
      font-size: 16px;
      color: #111928;
    }
  }

  &__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 41px;
    background: #7e3af2;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 42px auto 0;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    border: none;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      background: #5b2aaf;
    }
  }
}

.bx24__redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px auto 0;
  width: 660px;
  height: 226px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(28, 25, 25, 0.12);
  border-radius: 15px;
  padding: 30px;

  &-title {
    font-weight: 800;
    font-size: 32px;
    color: #111928;
  }

  &-descr {
    font-weight: 400;
    font-size: 20px;
    color: #6b7280;
    margin-top: 24px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background: #7e3af2;
    border-radius: 8px;
    width: 162px;
    height: 48px;
    box-shadow: 0px 6px 10px rgba(28, 25, 25, 0.12);
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      background: #622dbc;
    }
  }
}

// school
.school {
  margin-top: 50px;
  padding: 0 15px;
  &__inner {
    display: flex;
    justify-content: center;
    gap: 131px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    color: #132238;
  }

  &__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2d1843;
    margin-top: 35px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 48px;
    background: linear-gradient(109.54deg, #a53dff 24.01%, rgba(165, 61, 255, 0) 223.77%);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
  }

  &__prof-descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #392e66;
    margin-top: 50px;
  }

  &__prof-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    color: #a53dff;
    border: 1px solid #a53dff;
    border-radius: 4px;
    cursor: pointer;
  }
}

.accordeon {
  width: 695px;
  &__item {
    cursor: pointer;
  }

  &__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 67px;
    font-weight: 500;
    font-size: 22px;
    color: #111928;
    gap: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(231, 231, 231);
    }
  }

  &__item-descr {
    display: none;
    margin-top: 20px;
    font-size: 18px;
    line-height: 150%;
    color: #6b7280;
    a {
      color: #7e3af2;
    }
    &--show {
      display: block;
    }
  }

  &__item-arrow {
    height: 18px;
    transition: 0.3s all;
    &--rotate {
      transform: rotate(180deg);
    }
  }
}

// Адаптив главной страницы
@import "./mainMedia.scss";
